<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="60 seconds" debug="false">

    <!--输出格式-->
    <appender name="consoleLog" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                %d{yyyy/MM/dd-HH:mm:ss} %level [%thread] %caller{1} - %msg%n
            </pattern>
        </layout>
    </appender>
    <appender name="p6spyConsoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>
                 %msg%n
            </pattern>
        </layout>
    </appender>
    <appender name="p6spyFileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>
                %msg%n
            </pattern>
        </encoder>
        <!--滚动策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--路径-->
            <fileNamePattern>logs/lottery-p6spy.%d.log</fileNamePattern>
        </rollingPolicy>
    </appender>

    <!--输出error文件-->
    <appender name="fileErrorLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
        <encoder>
            <pattern>
                %d{yyyy/MM/dd-HH:mm:ss} %level [%thread] %caller{1} - %msg%n
            </pattern>
        </encoder>
        <!--滚动策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--路径-->
            <fileNamePattern>logs/lottery-provider-error.%d.log</fileNamePattern>
        </rollingPolicy>
    </appender>

    <!--输出info文件-->
    <appender name="fileInfoLog" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <!--过滤error日志-->
            <level>ERROR</level>
            <onMatch>DENY</onMatch>
            <onMismatch>ACCEPT</onMismatch>
        </filter>
        <encoder>
            <pattern>
                %d{yyyy/MM/dd-HH:mm:ss} %level [%thread] %caller{1} - %msg%n
            </pattern>
        </encoder>
        <!--滚动策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--路径-->
            <fileNamePattern>logs/lottery-provider-info.%d.log</fileNamePattern>
        </rollingPolicy>
    </appender>

    <appender name="addIntegralLogAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <encoder>
            <pattern>
                %d{yyyy/MM/dd-HH:mm:ss} %level [%thread] %caller{1} - %msg%n
            </pattern>
        </encoder>
        <!--滚动策略-->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--路径-->
            <fileNamePattern>logs/add-integral.%d.log</fileNamePattern>
        </rollingPolicy>
    </appender>


    <logger name="p6spy" level="INFO" additivity="false">
        <appender-ref ref="p6spyConsoleAppender"/>
        <appender-ref ref="p6spyFileAppender"/>
    </logger>
    <logger name="com.dmsdbj.integral.game.provider.service.impl.AddIntegralServiceImpl" level="INFO" additivity="false">
        <appender-ref ref="addIntegralLogAppender"/>
        <appender-ref ref="consoleLog"/>
    </logger>

    <logger name="com.xxl.job.core" level="WARN" />

    <!--全局应用该日志配置-->
    <root level="info">
        <appender-ref ref="consoleLog"/>
        <appender-ref ref="fileErrorLog"/>
        <appender-ref ref="fileInfoLog"/>
    </root>


</configuration>
