<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.dmsdbj.integral.training.provider.dao.train.BlogDao">

    <select id="deleteByUserId"  resultType="com.dmsdbj.integral.training.entity.BlogEntity">
        DELETE * FROM tik_blog WHERE  user_id=#{userId} AND is_delete=0
    </select>

</mapper>
